$backgroundColor: #000218;
$textRedColor: #FF007F;
$blueTextColor: #007BFF;
$greenTextColor: #39FF14;
$whiteColor: #FFFFFF;

$primaryFont: "Stack Sans Notch", sans-serif;
$secondaryFont: "Stack Sans Text", sans-serif;